/* outfit-regular - latin */
@font-face {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../../assets/fonts/outfit-v6-latin-regular.woff2") format("woff2"),
    url("../../assets/fonts/outfit-v6-latin-regular.woff") format("woff");
}
/* outfit-700 - latin */
@font-face {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("../../assets/fonts/outfit-v6-latin-700.woff2") format("woff2"),
    url("../../assets/fonts/outfit-v6-latin-700.woff") format("woff");
}
